.bg-custom-gradient {
    background: rgb(186,185,240);
    background: linear-gradient(90deg, rgba(186,185,240,1) 0%, rgba(178,99,209,0.9976798143851509) 31%, rgba(113,195,226,1) 65%, rgba(72,238,200,0.7540603248259861) 90%, rgba(74,251,193,0.5406032482598608) 100%) !important;
}
.row {
    min-height: 400px;
    text-align: center;
    margin-top: 20px;
}